*{

    font-family: "Poppins" , sans-serif;

}
#header {

    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0; 
    display: flex;
    align-items: flex-start;
    
}

.greenpanel {

    color: transparent;
    width: 1050px;
    height: 85px;
    background-color: #ab7e3e;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}
.nav{

    margin-left: 15px;
    margin-top: 4px;

}
.nav a {

    list-style: none;
    margin-left: 5px;
    margin-top: 3px;
    position: relative;
    
}

.nav a:hover::before{

    content:"";
    display: block;
    width: 30px;
    height: 3px;
    background: #14342b;
    border-radius: 50px;
    bottom: -5px;
    left: 0;
    position: absolute;

}

.nav a:link,
.nav a:visited{

    text-decoration: none;
    color: white;
    font-family: "Poppins" , sans-serif;
    margin-right: 50px;
    font-size: larger;

}

.nav a:hover,
.nav a:active{

    text-decoration: none;
    color:  #14342b;
    font-family: "Poppins" , sans-serif;
    margin-right: 50px;
    font-size: larger;
 
}


.icon{

    height: 75px;
    transform: translate(20px , 0);
    
}

.brownpanel{

    color: transparent;
    width: 500px;
    height: 65px;
    background-color:#14342b;
    position: absolute;
    top: 0;
    right: 0; 
    z-index: 2;
    
}

.h::before{

    content:"";
    display: block;
    width: 30px;
    height: 3px;
    background: #14342b;
    border-radius: 50px;
    bottom: -5px;
    left: 0;
    position: absolute;
   
}

.nav a:nth-child(3) {
    color: #14342b;
  }

   /* scroll start*/
 #scrollToTopBtn {

    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 24px;
    width: 40px;
    height: 40px;
    background-color: #ab7e3e;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: none; 
    z-index: 7;
}

#scrollToTopBtn.show {
    display: block; 
}
 /* scroll end*/

 .food_section .filters_menu {

    padding: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 9%;
    z-index: 8;
    color: #14342b;

}

.food_section .filters_menu li {

    padding: 7px 25px;
    cursor: pointer;
    border-radius: 25px;
    z-index: 7;

}

.food_section .filters_menu li.active {
  background-color: #ab7e3e;
  color: #ffffff;
}

.filters-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
  }
  .filters_menu {
    list-style: none;
    padding: 0;
    display: flex;
  
  }
  .filters_menu li {
    margin-left: 0px;
    cursor: pointer;
  }

  .search-bar {
    position: relative;
    margin-left: 78%;
    margin-top: 4%;
    margin-bottom: -1%;
  }
  .search-bar input {
    padding: 5px 10px 5px 30px;
    width: 200px;
  }
  .search-bar .fa-magnifying-glass {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;

  }

.food_section .box {
    
    position: relative;
    margin-top: 25px;
    background-color: #14342b;
    border-radius: 10px;
    color: #ffffff;
    border-radius: 15px;
    overflow: hidden;
    background: linear-gradient(to bottom, #ffffff00 25px, #14342b 25px);
    width: 300px ;

}

.food_section .box .img-box {

    background: #f1f2f3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 215px;
    border-radius: 0 0 0 45px;
    margin: -1px;
    padding: 25px;
    
}

.food_section .box .img-box img {

    max-width: 90%;
    max-height: 245px;
    transition: all .2s;
    border-radius: 10px;
}

.food_section .box .detail-box {
  padding: 25px;
  font-size: larger;
}

.food_section .box .detail-box h5 {
  font-weight: 700;
}

.food_section .box .detail-box p {
  font-size: 15px;
}

.food_section .box .detail-box h6 {
  margin-top: 10px;
}


.food_section .box:hover .img-box img {

    transform: scale(1.1);

}


.rowgrid {

    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



/* footer start */
.footer  {

    position: absolute;
    left: 0;
    bottom: -1;
    width: 100%;
    background: rgb(171,126,62);
    background: linear-gradient(90deg, rgba(171,126,62,1    ) 66%, rgba(20,52,43,1) 66%);    color: white;
    text-align: center;
    margin-top: 1%;
    height: 155px;
    font-family: "Poppins" , sans-serif;
    
}

.row {

    display: flex;
    gap: 235px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 4%;
    margin-right: 37%;

}    

.brands {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-size: 27px;

}  

.brands a:link,
.brands a:visited{

    text-decoration: none;
    color: white;


}

.brands a:hover,
.brands a:active{

    text-decoration: none;
    color: #14342b;
}

.footer .email-updates {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    margin-top: -4.5%;
    margin-right: 4%;
  }
  .footer .email-updates p {
    margin: 0 0 10px 0;
  }
  .footer .email-updates input[type="email"] {
    padding: 5px;
    width: 250px;
    margin-right: 8px;
   
  }
  .footer .email-updates button {
    padding: 5px 10px;
    background-color: #ab7e3e;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: -2.4%;
    font-family: "Poppins" , sans-serif;

  }
  .footer .email-updates button:hover {
    background-color: #14342b;
  }

/* footer ends */



@media screen and (max-width: 1280px) {

    #header {
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .greenpanel, .brownpanel {
        width: 100%;
        height: auto;
    }

    .nav {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }

    .nav a {
        margin: 5px;
    }

    .icon {
        margin: 10px;
    }


    .footer {
        height: auto;
    }

    .row {
        flex-direction: column;
        align-items: center;
        margin-right: 0;
    }

    .footer .socials {
        margin: 20px 0;
    }


    .greenpanel{
        flex-direction: column;
        padding-bottom: 5%;
        background: rgb(171,126,62);
        background: linear-gradient(90deg, rgba(171,126,62,1) 93%, rgba(20,52,43,1) 93%);
        
    
    }
    .brownpanel {
       display: none;
    }
    .nav  {
        font-size: 25px;
    }

    .filters_menu {

        flex-direction: column;
        transform: translateY(0);
    }

    .food_section {

        margin-top: 24%;

    }
    
    .search-bar{

        margin-left: 1%;

    }
    
    .footer .email-updates {
        display: none;
    }

}

 @media screen and (max-width: 851px) {

    #header {
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .greenpanel, .brownpanel {
        width: 100%;
        height: auto;
    }

    .nav {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }

    .nav a {
        margin: 5px;
    }

    .icon {
        margin: 10px;
    }

    .footer {
        height: auto;
    }

    .row {
        flex-direction: column;
        align-items: center;
        margin-right: 0;
    }

    .footer .socials {
        margin: 20px 0;
    }



    .greenpanel{
        flex-direction: column;
        padding-bottom: 5%;
        background: rgb(171,126,62);
        background: linear-gradient(90deg, rgba(171,126,62,1) 93%, rgba(20,52,43,1) 93%);
        
    
    }
    .brownpanel {
       display: none;
    }
    .nav  {
        font-size: 12px;
    }

    
    .filters_menu {

        flex-direction: column;
        transform: translateY(0);
    }

    .food_section {

        margin-top: 25%;

    }
    
    .search-bar{

        margin-left: 1%;

    }
    .footer .email-updates {
        display: none;
    }


}
@media screen and (max-width: 768px) {

    #header {
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .greenpanel, .brownpanel {
        width: 100%;
        height: auto;
    }

    .nav {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }

    .nav a {
        margin: 5px;
    }

    .footer {
        height: auto;
    }

    .row {
        flex-direction: column;
        align-items: center;
        margin-right: 0;
    }

    .footer .socials {
        margin: 20px 0;
    }



    .greenpanel{
        flex-direction: column;
        padding-bottom: 5%;
        background: rgb(171,126,62);
        background: linear-gradient(90deg, rgba(171,126,62,1) 93%, rgba(20,52,43,1) 93%);
        
    
    }
    .brownpanel {
       display: none;
    }
    .nav  {
        font-size: 12px;
    }

    .filters_menu {

        flex-direction: column;
        transform: translateY(0);
    }

    .food_section {

        margin-top: 25%;

    }
    
    .search-bar{

        margin-left: 1%;

    }

    .footer .email-updates {
        display: none;
    }
}
@media screen and (max-width: 430px) {
    
    .greenpanel {
    
        max-width: fit-content;
        background: rgb(171,126,62);
        background: linear-gradient(90deg, rgba(171,126,62,1) 93%, rgba(20,52,43,1) 93%);
        align-items: center;
        justify-content: center;
        height: 75px;
       
    }

    .brownpanel{

        display: none;
        max-width: fit-content;

    }

    .greenpanel img{

        display: none;

    }

    .nav  {

        font-size: 11px;
        flex-direction: column;
        margin-left: 95px;
        margin-top: 5%;

    
    }

    .nav a {

        margin-left: -35px;

    }

    .nav :nth-child(5){

        margin-left: 35px;

    }

    .filters_menu {

        flex-direction: column;
        transform: translateY(0);
    }

    .food_section {

        margin-top: 50%;

    }
    
    
    .search-bar{

        margin-left: 1%;

    }
    .footer .email-updates {
        display: none;
    }

}
@media screen and (max-width: 414px) {
    
    .greenpanel {
    
        max-width: fit-content;
        background: rgb(171,126,62);
        background: linear-gradient(90deg, rgba(171,126,62,1) 93%, rgba(20,52,43,1) 93%);
        align-items: center;
        justify-content: center;
        height: 75px;
       
    }

    .brownpanel{

        display: none;
        max-width: fit-content;

    }

    .greenpanel img{

        display: none;

    }

    .nav  {

        font-size: 11px;
        flex-direction: column;
        margin-left: 45px;
        margin-top: 5%;

    
    }


    .nav a {

        margin-left: -15px;

    }

    
    .nav :nth-child(5){

        margin-left: 59px;

    }

    .filters_menu {

        flex-direction: column;
        transform: translateY(0);
    }

    .food_section {

        margin-top: 50%;

    }
    
    .search-bar{

        margin-left: 1%;

    }
    .footer .email-updates {
        display: none;
    }
    
}
@media screen and (max-width: 390px) {
    #header {
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .greenpanel, .brownpanel {
        width: 100%;
        height: auto;
    }

    .nav {
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
   
    }

    .nav a {
   
        margin-left: -25px;
        font-size: 6px;
    }

    .nav :nth-child(5){
   
        margin-left: 69px;
        font-size: 6px;
    }


    .icon {
        margin: 10px;
    }

    .greenpanel {
    
        max-width: fit-content;
        background: rgb(171,126,62);
        background: linear-gradient(90deg, rgba(171,126,62,1) 93%, rgba(20,52,43,1) 93%);
        align-items: center;
        justify-content: center;
        height: 100px;
    }

    .brownpanel{

        display: none;

    }

    .greenpanel img{

        display: none;

    }

    .nav  {
        font-size: 11px;
        flex-direction: column;
    }

    .icon {
        height: 40px; 
    }

    .container{

        margin-top: 46%;

    }
    .container img{

    width: 80%;

    }

    .filters_menu {

        flex-direction: column;
        transform: translateY(0);
    }

    .food_section {

        margin-top: 50%;

    }
    
    .search-bar{

        margin-left: 1%;

    }
    .footer .email-updates {
        display: none;
    }

    
}
@media screen and (max-width: 344px) {
    #header {
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: center;
        
    }

    .greenpanel, .brownpanel {
        width: 100%;
        height: 100px;
    }

    .nav {
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
        margin-left: 27px;
   
    }

    .nav a {
   
        margin-left: -25px;
        font-size: 6px;
    }

    .nav :nth-child(5){
   
        margin-left: 59px;
        font-size: 6px;
    }

    .greenpanel {
    
        max-width: 100%;
        background: rgb(171,126,62);
        background: linear-gradient(90deg, rgba(171,126,62,1) 93%, rgba(20,52,43,1) 93%);
        align-items: center;
        justify-content: center;
        height: 100px;
    

    }

    .brownpanel{

        display: none;

    }

    .greenpanel img{

        display: none;

    }

    .icon {
        height: 40px; 
    }


    .filters_menu {

        flex-direction: column;
        transform: translateY(0);
    }

    .food_section {

        margin-top: 50%;
    }

    .search-bar{

        margin-left: 1%;

    }

    .footer .email-updates {
        display: none;
    }
}

